<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Be smart | Будь умным с нами</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/main.css" th:href="@{/css/main.css}" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>

<div class="wrap">


    <div th:insert="~{fragments/navbar::fragment_navbar}"></div>

    <div class="container" id="catalog_teachers">
        <form name = "filterTeacher" id = "formFilter" th:action="@{/}" th:object = "${filterTeachForm}" method="post">
            <div class="row">
                <div class="col-md">
                    <div class = "form-group">
                        <label for="filterTeachersDisc">Дисциплина</label>
                        <select th:field = "*{idDiscipline}" id = "filterTeachersDisc" class = "form-control">
                            <option th:each="discipline : ${disciplines}"
                                th:value = "${discipline.Id}"
                                    th:utext = "${discipline.Name}"/>
                        </select>
                    </div>
                </div>
                <div class="col-md">
                    <div class = "form-group">
                        <label for="filterTeachersPrice">Дисциплина</label>
                        <select th:field="*{price}" id = "filterTeachersPrice" class = "form-control">
                         <option value = "300-3000">Не важно</option>
                            <option value = "300-600">От 300 до 600 руб</option>
                            <option value = "600-1000">От 600 до 1000 руб</option>
                            <option value = "1000-1500">От 1000 до 1500 руб</option>
                            <option value = "1500-3000">От 1500 до 3000 руб</option>
                        </select>
                    </div>
                </div>
                <div class="col-md">
                    <button class = "btn btn-primary btnSearchTeach" id = "filterSubmit">Найти</button>
                    <a href="/" class="btn btn-primary btnSearchTeach">Очистить фильтр</a>
                </div>
            </div>
        </form>



        <div th:switch="${teacherProfiles}">
            <div th:case="null">
                <div class="alert alert-warning" role="alert">
                    Преподаватели не найдены
                </div>
            </div>
            <div th:case="*" >
                <div th:each="profile : ${teacherProfiles}" class = "row">
                    <div class="col-md">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <span th:text="${profile.teacher.FIO}"></span>
                                    <small class="text-muted nameDiscipline" th:text="${profile.discipline.Name}"></small>
                                </h4>
                                <a th:href = "@{/img/{name}(name=${profile.teacher.Avatar})}")>
                                    <img class = "img-left-mini" th:src = "@{/img/{name}(name=${profile.teacher.Avatar_mini})}">
                                </a>
                                <p class="card-text" th:text="${profile.teacher.education}"></p>
                                <p class="card-text" th:text="${profile.teacher.experience}"></p>
                                <a th:href="@{teacher/{id}(id=${profile.teacher.id})}" class = "btn btn-primary">Подробнее...</a>
                                <p class="textPrice text-right" th:text="${profile.price}"> руб/ч</p>

                                <div class = "adminPanel">
                                    <div class="row">
                                        <div class="col-md">
                                            <a th:href="@{delete/{id}(id = ${profile.Id})}" class = "btn btn-outline-warning btn_del">Удалить</a>
                                        </div>
                                        <div class="col-md">
                                            <a th:href="@{update/{id}(id = ${profile.teacher.Id})}" class = "btn btn-outline-primary">Изменить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div th:insert="~{fragments/footer::fragment_footer}"></div>





</body>
</html>
